---
layout: main
---


<section class="exercises-overview">
<h1>Site content</h1>

<ul>
  <li>Weekly plans as <a href="{{site.baseurl}}/weekly-plans">html</a></li>
  <li>Exercises as <a href="{{site.baseurl}}/exercises">html</a></li>
  <li>Other docs as <a href="{{site.baseurl}}/other-docs">html</a></li>
  <li>Weekly plans, exercises and docs as <a href="{{site.baseurl}}/pdf">pdf files</a></li>
  <li><a href="{{site.baseurl}}/tags">Tags</a></li>
  <li><a href="{{site.baseurl}}/itsxml">ITS learning import XML</a></li>
</ul>

<h2>Links</h2>

<ul>
  <li>Project group on <a href="https://gitlab.com/20a-itt1-project">gitlab</a></li>
  <li><a href="https://eal-itt.gitlab.io/discover-iot/">Companion site</a></li>
  <!-- <li><a href="https://drive.google.com/drive/folders/1fAEcwonIRhqztWOuW9wnmZqSSAHyxwOh?usp=sharing">zoom recordings from online lectures (requires UCL google account)</a></li> -->
</ul>

</section>
